.footer,
.socials-list,
.footer-link,
.footer-logo {
  background-color: #3f5f76;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 8.5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  box-shadow: 0px -10px 5px rgb(63, 63, 63);
}

.socials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-link {
  display: flex;
  transform: skewX(-15deg);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.9vw;
  width: 6vw;
  height: 4vh;
}

.footer-link:hover .footer-logo,
.footer-link:hover {
  background-color: #bcc6d4;
  color: black;
  cursor: pointer;
}

.footer-logo {
  height: 24px;
  transform: skewX(15deg);
}
