.resume {
  position: relative;
  width: 25vw;
  height: 0; /* uhh; wtf? */
  padding-top: 129.4118%;
  padding-bottom: 48px;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

.resume:hover {
  box-shadow: 10px 10px 5px rgb(63, 63, 63);
}

.iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.download {
  text-decoration: none;
  transform: skewX(-15deg);
  font-size: 1.3vw;
}

.download:hover {
  text-shadow: 10px 10px 3.5px rgb(36, 36, 36);
}
