.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.motion-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-name {
  margin-bottom: 2vh;
}

.p-deploy-image {
  max-height: 30vh;
  max-width: 40vw;
  margin-bottom: 3vh;
  box-shadow: 10px 10px 10px rgb(63, 63, 63);
}

.p-gh-url {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  transform: skewX(-15deg);
  font-size: 1.3vw;
}

.p-gh-logo {
  max-height: 5vh;
  border-radius: 50%;
  margin-right: 10px;
  transform: skewX(15deg);
}

.p-gh-url:hover {
  text-shadow: 5px 5px 3px rgb(36, 36, 36);
}

.p-gh-logo:hover {
  background-color: rgb(75, 75, 75);
  filter: drop-shadow(5px 5px 5px rgb(63, 63, 63));
}

.p-button {
  position: fixed;
  bottom: 13vh;
  font-size: 2vw;
  border: none;
  transform: skewX(-15deg);
}

.p-deploy-url {
  display: flex;
  text-decoration: none;
  justify-content: center;
  height: 6.1vh;
  width: 13vw;
  align-items: center;
  transform: skewX(-15deg);
  font-size: 1.3vw;
}

.p-button:hover,
.p-deploy-url:hover {
  text-shadow: 5px 5px 3px rgb(36, 36, 36);
  cursor: pointer;
}

.p-links {
  display: flex;
  flex-direction: row;
}

.p-description {
  max-width: 50vw;
  justify-content: center;
  text-align: center;
}
