/* container elements */

.about {
  margin-left: 0.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100vw;
}

.intro {
  font-size: 1.2vw;
  display: flex;
  text-align: center;
  margin-top: 5%;
}

.list-container {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1vw;
  margin-left: 15px;
  margin-right: 15px;
}

.quote {
  font-size: 1.2vw;
  margin-top: 5%;
  width: 75%;
}

/* style elements */
