.title {
  font-size: 1.5rem;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.list {
  margin: 5vw;
  margin-top: 15vh;
}
