.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.headerLink {
  display: flex;
  width: 5vw;
  height: 4vh;
  margin-top: 2vh;
  transform: skewX(-15deg);
  align-items: center;
  justify-content: center;
}

.headerLink:hover {
  background-color: grey;
  color: black;
}

.logo {
  display: flex;
  position: absolute;
  left: 0vw;
  /* z-index: -1; */
}
