.home {
  margin-top: 5vh;
  width: 75vw;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  border: 2px solid black;
  background-color: rgb(31, 31, 31);
  box-shadow: 10px 10px 5px rgb(63, 63, 63);
}

img {
  object-fit: cover;
  max-height: 60vh;
  max-width: 30vw;
  width: auto;
  height: auto;
}

.bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px;
}
